<template>
    <div class="bg-white w-[250px] p-[20px] flex flex-col justify-between items-center rounded-[10px]">
        <div class="flex flex-col items-center">
            <img :src="imgPath" class="h-[200px] w-fit mb-2" />
            <h3 class="text-center">{{ film.title }}</h3>
            <div class="text-gray-400 text-[14px] text-center mt-1">{{ trimText(film.overview) }}</div>
        </div>
        <router-link :to="`/film/${film.id}`">
            <button class="bg-blue-600 text-white rounded-[10px] h-[40px] px-[10px] mt-2">
                Detail Film
            </button>
        </router-link>
    </div>
</template>

<script>
export default {
    props: {
        film: {
            require: true
        }
    },

    computed: {
        imgPath() {
            return "https://image.tmdb.org/t/p/w500" + this.film.poster_path;
        }
    },

    methods: {
    trimText(text) {
        const maxLength = 40;
        let trimmedText = '';

        if (text.length > maxLength) {
            trimmedText = text.substring(0, maxLength) + '...';
        } else {
            trimmedText = text;
        }

        return trimmedText
    }
  }
}
</script>

<style>

</style>
  