<template>
    <div class="container mx-auto flex flex-col">
        <div class="text-[18px] text-blue-600 my-3 font-semibold">
            Detail Film
        </div>
        <div class="flex">
            <div class="flex-[1] flex justify-center">
                <img :src="imgPath" class="h-[400px] w-fit mb-2" />
            </div>
            <div class="flex-[1.5] flex-col">
                <div class="text-yellow-600 text-[34px] font-semibold">
                    {{ film.title }}
                </div>
                <div class="text-gray-500 text-[12px] font-semibold">
                    Rating: {{ film.vote_average }} / {{ film.vote_count }}
                </div>
                <div class="text-gray-500 text-[12px] font-semibold">
                    Tanggal Rilis: {{ film.release_date }}
                </div>
                <div class="text-gray-500 text-[12px] font-semibold">
                    Genre: <span :key="index" v-for="(item, index) in film.genres">{{ item.name }},</span>
                </div>
                <div class="text-black-500 text-[13px] font-semibold mt-2">
                    {{ film.overview }}
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import api from '../services/api.js';

export default {
    data() {
        return {
            film: []
        };
    },
    async mounted() {
        let idFilm = this.$route.params.id

        try {
            const response = await api.getDetailMoviePopular(idFilm);
            this.film = response.data;
            console.log(response.data);
        } catch (error) {
            console.error(error);
        }
    },

    computed: {
        imgPath() {
            return "https://image.tmdb.org/t/p/w500" + this.film.poster_path;
        }
    },
}
</script>

<style>

</style>
  