<template>
    <PopularContainer />
</template>

<script>
import PopularContainer from '../components/popular/PopularContainer.vue'
export default {
    components: {
        PopularContainer
    }
}
</script>

<style>
</style>