<template>
    <div class="container mx-auto flex flex-col my-5">
        <div class="text-[18px] text-blue-600 my-3 font-semibold">
            Search: {{ search }}
        </div>
        <div class="flex flex-wrap gap-6 justify-center">
            <FilmCard v-for="film in films" :key="film.id" :film="film" />
        </div>
    </div>
</template>

<script>
import FilmCard from '../components/card/FilmCard.vue';
import api from '../services/api.js';

export default {
    components: {
        FilmCard
    },
    data() {
        return {
            films: [],
            search: this.$route.params.search
        };
    },
    async mounted() {
        let searchFilm = this.$route.params.search

        try {
        const response = await api.getSearchMovie(searchFilm);
        this.films = response.data.results;
        //   console.log(response.data.results);
        } catch (error) {
        console.error(error);
        }
    },
}
</script>

<style>

</style>
  