<template>
    <div class="flex">
        <input v-model="inputValue" type="text" class="border border-solid outline-none h-[30px] px-[10px]" placeholder="Cari..." />
        <router-link :to="`/search/${inputValue}`">
            <button class="border border-solid px-[10px] h-[30px]">Cari</button>
        </router-link>
    </div>
</template>

<script>
export default {
    data() {
      return {
        inputValue: ''
      }
    },
    methods: {
      logInputValue() {
        console.log(this.inputValue);
      }
    }
}
</script>

<style>

</style>
  