<template>
  <div id="app">
    <div class="bg-white h-[60px] flex">
        <div class="container mx-auto flex items-center justify-between">
            <NavBar />
            <SearchBar />
        </div>
    </div>
    <router-view />
  </div>
</template>

<script>
import NavBar from '../src/components/header/NavBar.vue';
import SearchBar from '../src/components/header/SearchBar.vue';

export default {
  components: {
        NavBar,
        SearchBar,
    }
}
</script>

<style>

</style>
